:root {
  --primaryColour: #0b3c5d;
  --highlightColour: #328cc1;
  --accentColour: #ffea8e;
  --darkTextColour: #1d2731;
  --lightTextColour: rgb(247, 245, 224);
  --hoverColour: #e4faf9fd;
}

.article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5% 1%;
  padding: 1% 0 0.5% 0;
  border: 2px solid var(--primaryColour);
  border-radius: 10px;
  box-shadow: 5px 5px var(--primaryColour);
  background-color: white;
}

.article-card:hover {
  background-color: var(--hoverColour);
  cursor: pointer;
}

h3 {
  margin: 0;
}

.author-date-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.article-author {
  padding: 0 15px;
}

.article-date {
  padding: 0 15px;
}
