.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}
